/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/09/2016, 11:58:41
    Author     : Ideiah Computer
*/

.logo{
          position: relative;
          float: left;
          width: 15%;
          border: thin solid;
          padding: 5px;
          margin: 0px 10px 10px 0;
       }
 .logouni{
          position: relative;
          float: right;
          width: 15%;
          border: thin solid;
          padding: 5px;
          margin: 0px 10px 10px 0;
       }
 .logopampa{
          position: relative;
          float: top;
          width: 30%;
          height: 20%;
          border: thin solid;
          padding: 5px;
          margin: 0px 10px 10px 0;
       }
.input{
          display: inline-block;
          align-content: center;
        }
.corpo{
          color: #2b81af;
          font-weight: bold;
          font-family: arial;
          font-size: 18px;
          font-style: italic;
          font-style: initial;
        }
.label{
          background-color: #710909;
          align-content: center;
       }
.botao{
          display: inline-block;
          background-color: #ccc;
          color: gold;
          font-weight: bold;
          padding: 10px 20px;
          text-decoration: none;
          box-sizing: border-box;
          font-family: Helvetica, Arial, sans-serif;
          font-size: 14px;
          border: 0px;
        }
.botao:hover{
                 background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.15));
                 cursor: pointer;
              }
.botao-shadow {
                  box-shadow: 1px 1px 1px #999;
                }
 
.botao-rc {
              border-radius: 4px;
           }